/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
.theme-dark {
  --accent-color: #ff0070;
  --bkg-image: url(/images/cover-image-dark.png);
  --main-text-color: #f1b2ce;
  --title-card-color: #000028;
  --main-title-color: #db00ff;
  --shadow-color: #ff0070;
  --decorate-color: #ff0070;
  --outline-color: rgba(255, 0, 112, 0.4);
}

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --accent-color: #ff0070;
  --bkg-image: url(/images/cover-image-dark.png);
  --main-text-color: #f1b2ce;
  --title-card-color: #000028;
  --main-title-color: #db00ff;
  --shadow-color: #ff0070;
  --decorate-color: #ff0070;
  --outline-color: rgba(255, 0, 112, 0.4);
}

.page {
  background-image: var(--bkg-image);
}

.header::before {
  border-top: 1px solid var(--decorate-color);
  border-right: 1px solid var(--decorate-color);
}

.header::after {
  border-bottom: 1px solid var(--decorate-color);
  border-left: 1px solid var(--decorate-color);
}

.header__title {
  color: var(--main-title-color);
  text-shadow: 4px 4px 0px var(--shadow-color);
}

.header__text {
  color: var(--title-card-color);
}

.title-decor {
  background-color: var(--accent-color);
}

.header__theme-menu-list {
  color: var(--decorate-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--decorate-color);
}

.rec {
  content: "";
  position: absolute;
  top: 20px;
  right: 48px;
  color: #ff0070;
  text-align: center;
  font-family: IBM Plex Mono, Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 138.889% */
}

.rec::after {
  position: absolute;
  content: "";
  display: block;
  top: 0;
  right: -27px;
  width: 25px;
  height: 25px;
  background-image: url(/images/Ellipse\ 4.svg);
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
}

.why-hard-concentrate__title {
  color: var(--decorate-color);
}

.card__title {
  color: var(--title-card-color);
}

.card__text {
  color: var(--main-text-color);
}

.card__link {
  text-shadow: 2px 2px 0px var(--accent-color);
}

.fall-concentrate__title {
  color: var(--decorate-color);
}

.how-concentrate__title {
  color: var(--decorate-color);
}

.footer::before {
  border-top: 1px solid var(--decorate-color);
  border-right: 1px solid var(--decorate-color);
}

.footer::after {
  border-bottom: 1px solid var(--decorate-color);
  border-left: 1px solid var(--decorate-color);
}

.footer__title {
  color: var(--main-title-color);
  text-shadow: 2px 2px 0px var(--shadow-color);
}

.card__link:hover {
  text-decoration: underline;
  text-decoration-color: #f1b2ce;
}

.card__link:focus {
  outline: none;
  border: none;
}

.card__link:focus-visible {
  outline: 1px solid #f1b2ce;
}

.header__theme-menu-item:hover {
  outline: 1px solid var(--outline-color);
}

.header__theme-menu-item:focus {
  outline: none;
  border: none;
}

.header__theme-menu-item:focus-visible {
  border-bottom: 1px solid var(--decorate-color);
}